.logo_footer{
    width:140px; 
    height: auto;
}
ul{
    list-style-type:none; 
}
.container-fluid
{
background-color:#52555D;

}
.lead
{
font-style: italic;
text-align: center;
}
.display-4
{
text-align: center;
}

.navbar
{  
font-size: 18px;
margin-left: 50px;
}   
.nav-link
{
color:black;
}
h2
{
text-align: center;
}

.title
{
text-align: center;
margin-bottom: 30px;
font-size: 36px;
}

.container
{
margin-top: 70px;

}

.row
{

justify-content: 
}
*{
    font-size: 0.98em;
}

.topsell-card-margin{
    margin-left: 25px !important;
    margin-right: 25px !important;
}

p{
    margin-top: unset;
}

.card-border-c{
    border: 3px solid black;
}

.text-stock{
    position: absolute;
    bottom: 12px;
    right: 55px;
    color: green;
}

.basket-icon{
    position: absolute;
    bottom: 12px;
    width: 24px;
}

.text-price{
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 150%;
}


.card-img-wrap{
    max-width: 160px;
}

.img-acc-resize{
    max-width: 300px;
}
